<div class="hero-form">
  <h2>Cadastro de Vilão</h2>

  <div class="form-group">
    <label for="exampleInputName" class="form-label">Nome do Vilão</label>
    <input type="text" [(ngModel)]="name" class="form-control" id="exampleInputName1" placeholder="Ex: Capitão Valente">
    <div class="form-text">Cadastre o seu Vilão.</div>
  </div>

  <div class="form-group">
    <label for="exampleInputAge" class="form-label">Idade do Vilão</label>
    <input type="text" [(ngModel)]="age" class="form-control" id="exampleInputIdade1" placeholder="Ex: 30">
    <div class="form-text">Preencha a idade do Vilão.</div>
  </div>

  <div class="form-group">
    <label for="exampleInputPower" class="form-label">Força do seu Vilão</label>
    <input type="text" [(ngModel)]="power" class="form-control" id="exampleInputPower1" placeholder="Ex: Super Força">
    <div class="form-text">Informe a força do Vilão.</div>
  </div>

  <div class="form-group">
    <label for="exampleInputGender" class="form-label">Gênero do Vilão</label>
    <input type="text" [(ngModel)]="gender" class="form-control" id="exampleInputGender1" placeholder="Ex: Masculino, Feminino, Outro">
    <div class="form-text">Informe o gênero do seu Vilão.</div>
  </div>

  <button (click)="submitVillain()" class="btn btn-submit">Enviar</button>
</div>
