<header class="main-header">
  <div class="logo-area">
    <a href="/" class="logo">MyHero</a>
  </div>

 <ul class="nav-links">
    <li><a href="#" class="nav-item">Home</a></li>
    <li><a href="#" class="nav-item"[routerLink]="['/heroes']" routerLinkActive="route-link-active" >Heróis</a></li>
    <li><a href="#" class="nav-item"[routerLink]="['/villains']" routerLinkActive="route-link-active" >Vilões</a></li>
    <li><a href="#" class="nav-item">FAQs</a></li>
    <li><a href="#" class="nav-item">Sobre</a></li>
  </ul>
</header>
