<footer class="hero-footer">
  <div class="footer-container">
    <div class="footer-about">
      <h3>Sobre Heróis</h3>
      <p>Descubra os maiores heróis do universo! De lendas clássicas a novos campeões, explore suas histórias, poderes e feitos incríveis.</p>
    </div>

    <div class="footer-links">
      <h4>Links Rápidos</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#" class="nav-item"[routerLink]="['/heroes']" routerLinkActive="route-link-active" >Heróis</a></li>
        <li><a href="#">Vilões</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contato</h4>
      <p>Email: contatoherois.com</p>
      <p>Instagram: universoheroi</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Universo dos Heróis. Todos os direitos reservados.</p>
  </div>
</footer>
